.form {
  margin-top: 5rem;
}

.form__input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid aqua;
  color: white;
  height: auto;
  width: auto;
  font-size: 1.8rem;
}

.form__input:focus {
  outline: none;
  border-bottom: 2px solid yellow;
}

.form__para {
  font-size: 1.9rem;
  color: orangered;
}

@media (max-width: 450px) {
  .form__para {
    font-size: 1.4rem;
  }
}
